{% extends 'layouts/default.html' %}

{% block body %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style scoped>
    .card {
        margin-left: auto;
        margin-right: auto;
    }

    p {
        font-size: 22px;
        text-align: center;
    }

    .navbar-menu {
        margin-left: 0%;
        vertical-align: middle;
    }
    .form-control {
        width: 150px;
        display: inline;
    }
    .button {
        text-align: center;
    }
</style>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-menu" href="http://127.0.0.1:5000/photos">Menu</a>
</nav>
<br>
<p>Information / Modification de l'image</p>
{% for data in jsonData %}
<div class="card" style="width: 35rem;">
    <img src="static/{{data.chemin}}" style="object-fit: scale-down; "></div>
<br>
<p>Nom : {{data.nom}} <a href="#" id="name" onclick="nameFunction()">Modifier</a></p>
<p id="textarea1"></p>
<p>Chemin : {{data.chemin}} <a href="#" id="chemin" onclick="cheminFunction()">Modifier</a></p>
<p id="textarea2"></p>
<p>Tags : {{data.tags}} <a href="#" id="tags" onclick="tagsFunction()">Modifier</a></p>
<p id="textarea3"></p>
<p>Photo avec produit : 
    <select name="produit" class="form-control" id="produit" aria-label="Default select example">
    <option selected value="{{data.produit}}">
        {% if data.produit == true %}
            Oui
            <option value="false">Non</option>
        {% endif %}
        {% if data.produit == false %}
            Non
            <option value="true">Oui</option>
        {% endif %}
    </option>
    </select></p>

    <p>Photo avec humain : 
        <select name="humain" class="form-control" id="humain" aria-label="Default select example">
        <option selected value="{{data.humain}}">
            {% if data.humain == true %}
                Oui
                <option value="false">Non</option>
            {% endif %}
            {% if data.humain == false %}
                Non
                <option value="true">Oui</option>
            {% endif %}
        </option>
        </select></p>

        <p>Photo institutionnelle : 
            <select name="institutionnelle" class="form-control" id="institutionnelle" aria-label="Default select example">
            <option selected value="{{data.institutionnelle}}">
                {% if data.institutionnelle == true %}
                    Oui
                    <option value="false">Non</option>
                {% endif %}
                {% if data.institutionnelle == false %}
                    Non
                    <option value="true">Oui</option>
                {% endif %}
            </option>
            </select></p>

            <p>Format photo : 
                <select name="format" class="form-control" id="format" aria-label="Default select example">
                <option selected value="{{data.institutionnelle}}">
                    {% if data.format == true %}
                        Verticale
                        <option value="false">Horizontale</option>
                    {% endif %}
                    {% if data.format == false %}
                        Horizontale
                        <option value="true">Verticale</option>
                    {% endif %}
                </option>
                </select></p>

                <p>Droits d'utilisation : 
                    <select name="droitsUtilisation" class="form-control" id="droitsUtilisation" aria-label="Default select example">
                    <option selected value="{{data.institutionnelle}}">
                        {% if data.droitsUtilisation == true %}
                            Oui
                            <option value="false">Non</option>
                        {% endif %}
                        {% if data.droitsUtilisation == false %}
                            Non
                            <option value="true">Oui</option>
                        {% endif %}
                    </option>
                    </select></p>
                    <div class="button">
                        <form method="POST" action="http://127.0.0.1:5000/upload"
                    <button type="submit" class="btn btn-outline-primary">Sauvegarder</button>
                </div>
                <br>


<script>
    function nameFunction() {
        document.getElementById("textarea1").innerHTML =
            "<textarea cols = '2' rows = '2' name='textarea1' id='text1_id' class='form-control' style='resize:vertical' placeholder='Entrer la modification'></textarea>";
    }

    function cheminFunction() {
        document.getElementById("textarea2").innerHTML =
            "<textarea cols = '2' rows = '2' name='textarea2' id='text1_id' class='form-control' style='resize:vertical' placeholder='Entrer la modification'></textarea>";
    }

    function tagsFunction() {
        document.getElementById("textarea3").innerHTML =
            "<textarea cols = '2' rows = '2' name='textarea3' id='text1_id' class='form-control' style='resize:vertical'  placeholder='Entrer la modification'></textarea>";
    }
</script>
{% endfor %}
{% endblock %}